In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [2]:
df = pd.read_csv('advertisement_clicks.csv')

In [7]:
df.head() # action is 1 if user clicked on ad and 0 if he/she did not

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [6]:
df['advertisement_id'].unique() # we are comparing only two advertisements, so no need for Bonferroni correction

array(['B', 'A'], dtype=object)

In [9]:
dfA = df[df['advertisement_id'] == 'A']
dfB = df[df['advertisement_id'] == 'B']

In [11]:
dfA.head()

  advertisement_id  action
2                A       0
4                A       1
5                A       0
7                A       1
9                A       0

In [12]:
dfB.head()

  advertisement_id  action
0                B       1
1                B       1
3                B       0
6                B       0
8                B       0

In [32]:
dfA.shape

(1000, 2)

In [33]:
dfB.shape

(1000, 2)

In [13]:
# check the variances:
dfA.var()

action    0.211796
dtype: float64

In [27]:
dfB.var()

action    0.23385
dtype: float64

In [29]:
dfA.mean() # check mean click rate

action    0.304
dtype: float64

In [30]:
dfB.mean()

action    0.372
dtype: float64

In [23]:
a = dfA['action'].values
b = dfB['action'].values

In [34]:
t, p = stats.ttest_ind(a, b) # assumes equal variances
print("T value = %.6f p value = %.6f" % (t, p))

T value = -3.221173 p value = 0.001297

In [36]:
t2, p2 = stats.ttest_ind(a, b, equal_var=False) # does not assume equal variances, performs Welch's t-test, which does not assume equal population variance
print("Welch t-test (non-equal variance) t value = %.6f p value = %.6f" % (t2, p2))

Welch t-test (non-equal variance) t value = -3.221173 p value = 0.001297